@import url('https://fonts.googleapis.com/css?family=Open+Sans|Raleway');

body {
    font-family: 'Open Sans', sans-serif;
    padding: 0;
    margin: 0;
}

main {
    min-height: 100vh;
    background-color: white;
    line-height: 2em;
}
@media (max-width: 600px) {
    body {
        font-size: 0.8em;
    }
}

header {
    font-family: 'Raleway', sans-serif;
    text-align: center;
    padding: 1em 0em;
    background-color: blue;
    color: white;
    box-shadow: 0px 2px 5px #666;
}

.github-link {
    width: 2em;
    height: 2em;
    display: inline-block;
    vertical-align: middle;
    color: white;
    fill: orangered;
    transition: all 0.25s;
}
.github-link:hover {
    fill: white;
}

section {
    padding: 2em;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
}

.buttons-wrapper {
    margin: 1em 0em;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}
.buttons-wrapper > button {
    flex: 1;
    min-width: 200px;
    cursor: pointer;
    background: white;
    color: #666;
    font-size: 0.8em;
    font-weight: normal;
    border: 1px solid #888;
    border-radius: 10px;
    outline: 0;
    padding: 0.7em;
    box-shadow: none;
    text-align: center;
    transition: all 0.25s;
    margin: 1em;
}
button:hover {
    color: #226;
    background: #EEF;
    border-color: blue;
}

code {
    font-size: 1.2em;
}

ul {
    border-left: 4px solid blue;
}

ul li {
    margin-bottom: 1em;
}

a {
    color: blue;
}
a:visited {
    color: black;
}

#content {
    border: 2px dashed black;
    padding: 1em;
}

.footnote {
    font-size: 0.9em;
    font-style: italic;
}